<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div style="background: #0693e3; color: white; font-weight: 800; font-family: Muli,'Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;">
        <p style="font-size: x-small;color: #f78da7;" th:text="${order.submittedAt}">submittedAt</p>
        <p>The new order # <span style="font-weight: bold; color: #f78da7;" th:text="${orderId}"/> to buy the following services:</p>
        <p>
                <ul th:each="product: ${products}">
                    <span style="font-weight: bold; color: #f78da7;" th:each="package: ${product.packages}">
                        <li><span th:text="${product.name}"/> - <span th:text="${package.name}"/></li>
                    </span>
                </ul>
        </p>
        <p>arrived from the customer</p>
        <p style="font-size: large; font-weight: bold; color: #f78da7;"><span th:text="${order.person.firstName}">firstName</span>&nbsp;<span th:text="${order.person.lastName}">lastName</span>
        </p>
        <p style="font-weight: bold; color: #f78da7;" >passport <span th:text="${order.person.passportNo}">passportNo</span>
        </p>
        <p style="font-weight: bold; color: #f78da7;" >mobile <span th:text="${order.person.mobileNo}">mobile</span></p>
        <p style="font-weight: bold; color: #f78da7;" >email <span th:text="${order.person.email}">email</span></p>
        <p>located at</p>
        <p style="font-weight: bold; color: #f78da7;"><span th:text="${order.address.province}"></span>, <span th:text="${order.address.city}"></span>, <span th:text="${order.address.street}"></span> <span th:text="${order.address.apartment}"></span>, <span th:text="${order.address.postalCode}"></span>
        </p>
        <p>Preferred time for operations is</p>
        <p><span style="font-weight: bold; color: #f78da7;" th:text="${order.prefDateFrom}"/> - <span style="font-weight: bold; color: #f78da7;" th:text="${order.prefDateTo}"/></p>
    </div>
</body>
</html>